/**
 * A simple theme for reveal.js presentations, similar
 * to the default theme. The accent color is darkblue.
 *
 * This theme is Copyright (C) 2012 Owen Versteeg, https://github.com/StereotypicalApps. It is MIT licensed.
 * reveal.js is Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
// @import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
// @import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor:#BDD2DB;

// Primary/body text
$mainFont: "sofia-pro", sans-serif;
$mainFontSize: 30px;
$mainColor: #143944;

// Vertical spacing between blocks of text
$blockMargin: 40px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: "sofia-pro", sans-serif;
$headingColor: #143944;
$headingLineHeight: 1;
$headingLetterSpacing: -2px;
$headingTextTransform: none;
$headingTextShadow: none;
$headingFontWeight: bold;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 90px;
$heading2Size: 70px;
$heading3Size: 50px;
$heading4Size: 30px;

// Links and actions
$linkColor: #DA6561;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #D3E3E8;
$selectionColor: #143944;

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Reset text-alignment
.reveal .slides {
	text-align: left;
}

.reveal {
	font-weight: 300;
}

.reveal .content {
	max-width: 50%;
}

.reveal .slides > section {
	box-sizing: border-box;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

.reveal .slides > section,
.reveal .slides > section > section {
	padding: 60px 30px;
}

// Text overrides
.reveal h1 {
	margin-bottom: 60px;
}

.reveal ol,
.reveal ul {
	line-height: 1.75;
}

// Button
.reveal .navigate-next {
	background-image: url(../../images/button-next.png);
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	height: 90px;
	left: 0;
	overflow: hidden;
	position: absolute;
	text-indent: 100%;
	top: 0;
	width: 90px;
  white-space: nowrap;
}

// Close button
.reveal .close {
  position: fixed;
  z-index: 1010;
  top: 16px;
  right: 16px;
  height: 32px;
  width: 32px;
  font-size: 32px;
  line-height: 0.75;
  text-align: center;
  color: white;
  background-color: #E7585F;
	border-radius: 16px;

	&:hover {
		color: white;
		background-color: #E7585F;
	}
}

// Backgrounds per slide -----------------------
// Slide 1
section:nth-child(1) {
	> .navigate-next {
		left: 74.5%;
		top: 41%;
	}
}

// Slide 2
section:nth-child(2) {
	> .navigate-next {
		left: 37%;
		top: 62%;
	}
}

// Slide 3
section:nth-child(3) {
	> .content {
		margin-left: 15%;
		margin-top: 18%;
		max-width: 32%;

		> h1 {
			white-space: nowrap;
		}
	}

	> .navigate-next {
		left: 59%;
		top: 56%;
	}
}

// Slide 4
section:nth-child(4) {
	> .content {
		margin-left: 5%;
		margin-top: 7%;
	}

	> .plaque {
		margin: 7% 10% 0;
	}

	> .note {
		margin-left: 42%;
    margin-top: 3%;
    max-width: 14%;
    transform: rotate(3deg);

		> p {
			line-height: 1.2;
		}
	}

	> .navigate-next {
		left: 55%;
    top: 87%;
	}
}

// Slide 5
section:nth-child(5) {
	> .content {
		max-width: 34%;
	}

	> .navigate-next {
		left: 18%;
    top: 72%;
	}
}

// Slide 6
section:nth-child(6) {
	> .content {
		max-width: 34%;
	}

	> .navigate-next {
		left: 63%;
    top: 51%;
	}
}

// Slide 7
section:nth-child(7) {
	> .content {
		margin-left: auto;
		max-width: 53%;
	}

	> .navigate-next {
		left: 94.5%;
    top: 75%;
	}
}

// Slide 8
section:nth-child(8) {
	> .content {
		margin-left: auto;
	}

	> .navigate-next {
		left: 94.5%;
    top: 75%;
	}
}

// Slide 9
section:nth-child(9) {
	> .navigate-next {
		left: 94.5%;
    top: 75%;
	}
}

// Slide 10
section:nth-child(10) {
	> .navigate-next {
		left: 94.5%;
    top: 75%;
	}
}

// Slide 11
section:nth-child(11) {
	> .content {
		margin-left: auto;
		max-width: 40%;
	}

	> .navigate-next {
		left: 94.5%;
    top: 75%;
	}
}

// Slide 12
section:nth-child(12) {
	> .content {
		max-width: 81%;
	}

	> .navigate-next {
		left: 94.5%;
    top: 84%;
	}
}

// Slide 13
section:nth-child(13) {
	> .content {
		max-width: 45%;
	}

	> .navigate-next {
		left: 35.5%;
    top: 89.5%;
	}
}

// Slide 14
section:nth-child(14) {
	> .content {
		max-width: 45%;
	}

	> .navigate-next {
		left: 28%;
    top: 44%;
	}
}

// Slide 15
section:nth-child(15) {
	> .content {
		margin-left: auto;
		margin-top: 7.5%;
		max-width: 30%;
	}

	> .navigate-next {
		left: 89%;
    top: 87%;
	}
}

// Slide 16
section:nth-child(16) {
	bottom: 0;
	top: 0;

	> .content {
		margin-left: auto;
	}

	> .footer {
		bottom: 0;
		position: absolute;
		right: 150px;
	}

	> .navigate-next {
		left: 94%;
    top: 90.5%;
	}
}