/**
 * A simple theme for reveal.js presentations, similar
 * to the default theme. The accent color is darkblue.
 *
 * This theme is Copyright (C) 2012 Owen Versteeg, https://github.com/StereotypicalApps. It is MIT licensed.
 * reveal.js is Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #BDD2DB;
  background-color: #BDD2DB; }

.reveal {
  font-family: "sofia-pro", sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: #143944; }

::selection {
  color: #143944;
  background: #D3E3E8;
  text-shadow: none; }

::-moz-selection {
  color: #143944;
  background: #D3E3E8;
  text-shadow: none; }

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 40px 0;
  color: #143944;
  font-family: "sofia-pro", sans-serif;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -2px;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 90px; }

.reveal h2 {
  font-size: 70px; }

.reveal h3 {
  font-size: 50px; }

.reveal h4 {
  font-size: 30px; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 40px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 40px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 40px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #DA6561;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #edb6b4;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #c1322d; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #143944;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #DA6561;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #DA6561; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #DA6561; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #BDD2DB; } }

.reveal .slides {
  text-align: left; }

.reveal {
  font-weight: 300; }

.reveal .content {
  max-width: 50%; }

.reveal .slides > section {
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0; }

.reveal .slides > section,
.reveal .slides > section > section {
  padding: 60px 30px; }

.reveal h1 {
  margin-bottom: 60px; }

.reveal ol,
.reveal ul {
  line-height: 1.75; }

.reveal .navigate-next {
  background-image: url(../../images/button-next.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 90px;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-indent: 100%;
  top: 0;
  width: 90px;
  white-space: nowrap; }

.reveal .close {
  position: fixed;
  z-index: 1010;
  top: 16px;
  right: 16px;
  height: 32px;
  width: 32px;
  font-size: 32px;
  line-height: 0.75;
  text-align: center;
  color: white;
  background-color: #E7585F;
  border-radius: 16px; }
  .reveal .close:hover {
    color: white;
    background-color: #E7585F; }

section:nth-child(1) > .navigate-next {
  left: 74.5%;
  top: 41%; }

section:nth-child(2) > .navigate-next {
  left: 37%;
  top: 62%; }

section:nth-child(3) > .content {
  margin-left: 15%;
  margin-top: 18%;
  max-width: 32%; }
  section:nth-child(3) > .content > h1 {
    white-space: nowrap; }

section:nth-child(3) > .navigate-next {
  left: 59%;
  top: 56%; }

section:nth-child(4) > .content {
  margin-left: 5%;
  margin-top: 7%; }

section:nth-child(4) > .plaque {
  margin: 7% 10% 0; }

section:nth-child(4) > .note {
  margin-left: 42%;
  margin-top: 3%;
  max-width: 14%;
  transform: rotate(3deg); }
  section:nth-child(4) > .note > p {
    line-height: 1.2; }

section:nth-child(4) > .navigate-next {
  left: 55%;
  top: 87%; }

section:nth-child(5) > .content {
  max-width: 34%; }

section:nth-child(5) > .navigate-next {
  left: 18%;
  top: 72%; }

section:nth-child(6) > .content {
  max-width: 34%; }

section:nth-child(6) > .navigate-next {
  left: 63%;
  top: 51%; }

section:nth-child(7) > .content {
  margin-left: auto;
  max-width: 53%; }

section:nth-child(7) > .navigate-next {
  left: 94.5%;
  top: 75%; }

section:nth-child(8) > .content {
  margin-left: auto; }

section:nth-child(8) > .navigate-next {
  left: 94.5%;
  top: 75%; }

section:nth-child(9) > .navigate-next {
  left: 94.5%;
  top: 75%; }

section:nth-child(10) > .navigate-next {
  left: 94.5%;
  top: 75%; }

section:nth-child(11) > .content {
  margin-left: auto;
  max-width: 40%; }

section:nth-child(11) > .navigate-next {
  left: 94.5%;
  top: 75%; }

section:nth-child(12) > .content {
  max-width: 81%; }

section:nth-child(12) > .navigate-next {
  left: 94.5%;
  top: 84%; }

section:nth-child(13) > .content {
  max-width: 45%; }

section:nth-child(13) > .navigate-next {
  left: 35.5%;
  top: 89.5%; }

section:nth-child(14) > .content {
  max-width: 45%; }

section:nth-child(14) > .navigate-next {
  left: 28%;
  top: 44%; }

section:nth-child(15) > .content {
  margin-left: auto;
  margin-top: 7.5%;
  max-width: 30%; }

section:nth-child(15) > .navigate-next {
  left: 89%;
  top: 87%; }

section:nth-child(16) {
  bottom: 0;
  top: 0; }
  section:nth-child(16) > .content {
    margin-left: auto; }
  section:nth-child(16) > .footer {
    bottom: 0;
    position: absolute;
    right: 150px; }
  section:nth-child(16) > .navigate-next {
    left: 94%;
    top: 90.5%; }
